.posts{
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
}

.post{
    list-style-type:none;
    background-color: rgb(12, 178, 243);
    padding: 1vh;
    border-radius: 5px;
    transition: 0.5s;
    width: max-content;
}

